.button {
  display: block;
  border: 1px solid $white-btn-color;
  min-width: 130px;
  margin: 0 auto;
  padding: 14px;
  background-color: $accent-btn-color;

  text-transform: uppercase;

  cursor: pointer;

  // transition-property: color, background-color, border;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(mobile-only) {
    @include font-style(12px, 700, 1.25, 0.08em, $white-text-color);
  }

  @include mq(tablet) {
    @include font-style(14px, 700, 1.14, 0.14em, $white-text-color);
  }
}

// .button--inverted {
//   background-color: transparent;
//   border: 2px solid $accent-btn-color;

//   color: $accent-text-color;
// }

// .button:focus,
// .button:hover {
//   background-color: transparent;
//   color: $bg-btn-color;
//   border: 2px solid $accent-btn-color;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
// }

// .button--inverted:focus,
// .button--inverted:hover {
//   background-color: $bg-btn-color;
//   color: $white-btn-color;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
// }
