//фон
$main-bg-color: #ffffff;
$footer-bg-color: #F7F7F7;
$accent-bg-color: #FF6B08;
$backdrop-color: rgba(0, 0, 0, .25);

//шрифт
$main-text-color: #000;
$accent-text-color: #FF6B08;
$white-text-color: #fff;
$footer-text-color: #545454;
$list-text-color: #8C8C8C;

//кнопки
$accent-btn-color: #ff6b09;
$white-btn-color: #fff;