<header class="">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="/index.html">
            <svg>
              <use href="./images/icons.svg#icon-film"></use>
            </svg>
            Filmoteka</a
          >
        </li>
        <li><a href="/index.html">home</a></li>
        <li><a href="/library.html">my library</a></li>
      </ul>
    </nav>
    <form>
      <input type="search" name="search" placeholder="Поиск фильмов" />
      <button type="button">
        <svg>
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
