<header class="section header">
  <div class="container">
    <a href="/index.html">
      <svg class="header__icon">
        <use href="./images/icons.svg#icon-film"></use></svg
      ><span class="header__logo">Filmoteka</span>
    </a>
    <nav>
      <ul>
        <li class="header__nav"><a href="/index.html">home</a></li>
        <li class="header__nav"><a href="/library.html">my library</a></li>
      </ul>
    </nav>
    <form>
      <input type="search" name="search" placeholder="Поиск фильмов" />
      <button type="button">
        <svg>
          <use href="./images/icons.svg#icon-search" width="12" height="12"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
