<div class="backdrop">
  <div class="modal">
    <button class="modal__close" type="button"></button>
    <img class="film__poster" src="./images/1sm.jpg" alt="work" width="240" />
    <div class="film__info-wrapper">
      <h2 class="film__name">A FISTFUL OF LEAD</h2>
      <div class="film__details">
        <ul class="film__details-list">
          <li class="film__details-item">
            Vote / Votes <span class="film_details-rating1">7.3</span>/
            <span class="film_details-rating2">1260</span>
          </li>
          <li class="film__details-item">Popularity 100.2</li>
          <li class="film__details-item">Original Title A FISTFUL OF LEAD</li>
          <li class="film__details-item">Genre Western</li>
        </ul>
      </div>
      <h3 class="film__review-title">about</h3>
      <p class="film__review">
        Four of the West&rsquo;s most infamous outlaws assemble to steal a huge stash of gold from
        the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed
        and the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
        filled with lead... they&rsquo;ve been double crossed – but by who and how?
      </p>
      <button class="film__btn-watched" type="button">add to Watched</button>
      <button class="film__btn-queue" type="button">add to queue</button>
    </div>
  </div>
</div>
