<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__close" type="button">
      <svg class="modal__close-icon" width="15" height="15">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <img class="film__poster" src="./images/1sm.jpg" alt="work" width="240" />
    <div class="film__info-wrapper">
      <h2 class="film__name">A FISTFUL OF LEAD</h2>
      <div class="film__details">
        <ul class="film__details-list">
          <li class="film__details-item">
            <span class="film__details-name">Vote / Votes</span>
            <span class="film__details-rating"
              ><span class="film__details-rating1">7.3</span>&nbsp;&nbsp;/&nbsp;
              <span class="film__details-rating2">1260</span></span
            >
          </li>
          <li class="film__details-item">
            <span class="film__details-name">Popularity</span>
            <span class="film__details-popularity">100.2</span>
          </li>
          <li class="film__details-item">
            <span class="film__details-name">Original Title</span>
            <span class="film__details-title">A FISTFUL OF LEAD</span>
          </li>
          <li class="film__details-item">
            <span class="film__details-name">Genre</span>
            <span class="film__details-genre">Western</span>
          </li>
        </ul>
      </div>
      <h3 class="film__review-title">about</h3>
      <p class="film__review">
        Four of the West&rsquo;s most infamous outlaws assemble to steal a huge stash of gold from
        the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed
        and the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
        filled with lead... they&rsquo;ve been double crossed – but by who and how?
      </p>
      <div class="film__btn-wrapper">
        <button class="film__btn-watched button" type="button">add to Watched</button>
        <button class="film__btn-queue button" type="button">add to queue</button>
      </div>
    </div>
  </div>
</div>
